.custom-slider.rzslider {
  margin: 17px 0 15px 0;
}
.custom-slider.rzslider .rz-bar {
  background: #999;
  height: 2px;
}
.custom-slider.rzslider .rz-selection {
  background: #333;
}

.custom-slider.rzslider .rz-pointer {
  width: 15px;
  height: 15px;
  top: auto;
  bottom: -4px;
  border-radius: 50%;
  background-color: #333;
}
.rzslider .rz-pointer:after{
  display: none;
}