<div class="card">
  <div class="card-header">
    <strong>Route</strong>
  </div>
  <div class="card-body">
    <form action="" method="post" class="form-horizontal ">
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="hf-address">Pickup</label>
        <div class="form-group col-md-5">
          <select class="form-control" id="ccmonth">
            <option>Netherlands</option>
            <option>Germany(Deutschland)</option>
            <option>België</option>
          </select>
        </div>
        <div class="col-md-5">
          <input type="address" id="hf-address" name="hf-address" class="form-control" placeholder="Address">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label pr-0" for="hf-password">Delivery</label>
        <div class="form-group col-md-5">
          <select class="form-control" id="ccmonth">
            <option>Netherlands</option>
            <option>Germany(Deutschland)</option>
            <option>België</option>
          </select>
        </div>
        <div class="col-md-5">
          <input type="address" id="hf-address" name="hf-address" class="form-control" placeholder="Address">
        </div>
      </div>
    </form>
  </div>
</div>