<header class="app-header navbar">
  <a class="navbar-brand" ui-sref="app.main"></a>

  <button class="navbar-toggler mobile-sidebar-toggler" type="button">
    <span class="icon-menu icons d-lg-none"></span>
  </button>

  <ul class="nav navbar-nav ml-auto d-md-down-none">
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="navbar-user mr-4">
          <span>Jhon</span>
          <i class="icon-user icons"></i>
        </div>
      </a>
    </li>
  </ul>
</header>