<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> New Delivery </a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> My Deliveries <span class="badge badge-pill badge-danger">1</span></a>
      </li>
      <li class="divider"></li>
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active"><i class="icon-speedometer"></i> History <span class="badge badge-pill badge-danger">1</span></a>
      </li>
    </ul>
  </nav>
</div>