$navbar-bg: #fff;
$sidebar-bg: #4fc1e9;
$sidebar-nav-link-active-bg: #368faf;
$sidebar-nav-title-color: #fff;
$border-color: #fff;
$navbar-height: 50px;
$navbar-brand-logo-size: 100px;
$navbar-height-brand: 49px;